*{
  margin: 0;
  padding: 0;
}
.top-bar{
  width: 100%;
  height: 58px;
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
  header{
    padding: 0 10px;
    line-height: 58px;
    .header-left{
      text-align: left;
    }
    .header-right{
      text-align: right;
      .nav{
        width: 80px;
        position: absolute;
        right: -8px;
        top: 60px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.08);
        padding: 0 4px;
        .nav-item{
          height: 30px;
          line-height: 30px;
          text-align: left;
          cursor: pointer;
          &.active{
            color: blue;
          }
        }
      }
    }
  }
}