* {
  margin: 0;
  padding: 0; }

.top-bar {
  width: 100%;
  height: 58px;
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08); }

.top-bar header {
  padding: 0 10px;
  line-height: 58px; }

.top-bar header .header-left {
  text-align: left; }

.top-bar header .header-right {
  text-align: right; }

.top-bar header .header-right .nav {
  width: 80px;
  position: absolute;
  right: -8px;
  top: 60px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 0 4px; }

.top-bar header .header-right .nav .nav-item {
  height: 30px;
  line-height: 30px;
  text-align: left;
  cursor: pointer; }

.top-bar header .header-right .nav .nav-item.active {
  color: crimson; }

.el-submenu .el-menu-item {
  min-width: 0; }
